<%- include("FM-0TituloPrincipal") %>
<section id="contenido">
	<div id="datosLargos">
		<!-- Tipo de Producto, Temporada, Capítulo, Colección -->
		<%- include("FM-1Encabezado") %>

		<!-- Tabla -->
		<form id="tabla"> <!-- Necesita ser un 'form' acá, porque no se acepta dentro de la tabla -->
			<!-- Tabla -->
			<table>
				<!-- Títulos (11 columnas) -->
				<%- include("FM-LK0-TituloTabla") %>
				<tbody id="<%= tema %>">
					<!-- Filas para links existentes -->
					<% links.forEach((link, fila)=> { %>
						<%- include("FM-LK1-Datos", {link, fila}) %>
						<% if (tema == "revisionEnts") { %>
							<% if (link.cond.creadoAprobs) { %>
								<% for (let edicion of link.ediciones) { %>
									<%- include("RE3-LinksEdicion", {link, fila, edicion}) %>
								<% } %>
							<% } %>
						<% } else { %>
							<%- include("LK1-Edicion", {link, fila}) %>
						<% } %>
					<% }) %>
					<!-- Fila para nuevo link -->
					<% if (tema != "revisionEnts") { %><%- include("LK1-Alta", {fila: links.length}) %><% } %>
				</tbody>
			</table>
		</form>
	</div>
	<div id="sectorIconos">
		<%- include("Iconos-1Estandar") %>
		<!-- Específicos de links -->
		<% if (tema != "revisionEnts") { %>
			<div class="iconos img">
				<% for (let prov of linksProvs.filter(n => n.mostrarSiempre)) { %>
					<a
						href="//<%= prov.urlDistintivo + prov.urlBuscarPre + (prov.urlBuscarPre ? (registro.nombreCastellano + " " + registro.anoEstreno) : '') + prov.urlBuscarPost %>"
						target="_blank"
						tabindex="-1"
					>
						<img src="/imgsPropio/3-LogosLinks/<%= prov.avatar %>" tabindex="-1">
					</a>
				<% } %>
			</div>
		<% } %>
	</div>
</section>
