<div class="iconos">
	<a href="<%= urlAnt %>">
		<i class="<%= iconos.faSolid %> <%= urlAnt != "/" ? iconos.izquierda : iconos.hogar %>" tabindex="-1" title="Anterior"></i>
	</a>
	<p><%= (indice + 1) +" / " + cantVistas %></p>
	<a href="<%= urlPost %>">
		<i class="<%= iconos.faSolid %> <%= urlPost != "/" ? iconos.derecha : iconos.hogar %>" tabindex="-1" title="Posterior"></i>
	</a>
</div>
