<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<%- include("MN-Ayuda", {mensajes: ["A estos registros les falta información.", "Nos viene muy bien si nos ayudás completándola."]}) %>
</div>
<!-- Datos -->
<% let familias, mostrar %>
<section id="familias">
	<div id="primeraColumna" class="columna">
		<!-- PRODUCTOS -->
		<div class="bloques">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "productos" %>
				<h2><%= familias.toUpperCase() %></h2>
				<%- include("MN-Ayuda", {parrafo: "Las columnas son:", mensajes: ["Fecha de la novedad", "Tipo de producto", "Nombre del producto", "Año de lanzamiento"]}) %>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% mostrar = dataEntry[familias] %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Edición", regs: prods.SE, url: "/edicion/p", mostrarOrigen: true}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Calificar", regs: prods.SC, url: "/califica/p", mostrarOrigen: true}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Tema", regs: prods.ST, url: "/edicion/p", mostrarOrigen: true}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Época", regs: prods.SEP, url: "/edicion/p", mostrarOrigen: true}) %>
				<% if (omnipotente) { %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Inactivos", regs: prods.IN, url: "/detalle/p", mostrarOrigen: true}) %>
				<% } %>
			</div>
		</div>
	</div>
	<div id="segundaColumna" class="columna">
		<!-- Rclvs -->
		<div class="bloques" id="rclv">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "rclvs" %>
				<h2><%= familias.toUpperCase() %></h2>
				<%- include("MN-Ayuda", {parrafo: "Las columnas son:", mensajes: ["Fecha de la novedad", "Tipo de Rclv", "Nombre del Rclv"]}) %>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% mostrar = dataEntry[familias] %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Avatar", regs: rclvs.SA, url: "/edicion/r", mostrarOrigen: true}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Películas", regs: rclvs.SP, url: "/detalle/r", mostrarOrigen: true}) %>
				<% if (usuario.rol.revisorPERL) { %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Solapamiento de Fechas", regs: rclvs.SF, url: "/edicion/r", mostrarOrigen: true}) %>
				<% } %>
				<% if (omnipotente) { %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Inactivos", regs: rclvs.IN, url: "/detalle/r", mostrarOrigen: true}) %>
				<% } %>
			</div>
		</div>
		<!-- Sin Links -->
		<div class="bloques" id="links">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "links" %>
				<h2><%= familias.toUpperCase() %></h2>
				<%- include("MN-Ayuda", {parrafo: "Las columnas son:", mensajes: ["Fecha de la novedad", "Tipo de producto", "Nombre del producto", "Año de lanzamiento"]}) %>
			</div>
			<!-- Temas -->
			<div class="temas">
				<% mostrar = dataEntry[familias] %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links - Peliculas", regs: prods.SL_pelis, url: "/abm-links/p", mostrarOrigen: true}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links - Colecciones", regs: prods.SL_coles, url: "/abm-links/p", mostrarOrigen: true, campo: "linksGral"}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links Gratuitos", regs: prods.SLG_basico, url: "/abm-links/p", mostrarOrigen: true, campo: "linksGratis"}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links en Castellano", regs: prods.SLC_basico, url: "/abm-links/p", mostrarOrigen: true, campo: "linksCast"}) %>
				<% if (usuario.rol.revisorPERL) { %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Inactivos", regs: prods.LI, url: "/abm-links/p", mostrarOrigen: true, grupo: "inactivo"}) %>
				<% } %>
			</div>
		</div>
		<!-- Sin Links HD -->
		<div class="bloques" id="linksHD">
			<!-- Título y ayuda -->
			<div class="tituloSecundario">
				<!-- Título -->
				<% familias = "links hd" %>
				<h2><%= familias.toUpperCase() %></h2>
				<%- include("MN-Ayuda", {parrafo: "Las columnas son:", mensajes: ["Fecha de la novedad", "Tipo de producto", "Nombre del producto", "Año de lanzamiento"]}) %>
			</div>
			<!-- Temas -->
			<div class="temas">
				<% mostrar = dataEntry[familias] %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links HD - Películas", regs: prods.SL_HD_pelis, url: "/abm-links/p", mostrarOrigen: true}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links HD - Colecciones", regs: prods.SL_HD_coles, url: "/abm-links/p", mostrarOrigen: true, campo: "HD_Gral"}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links HD Gratuitos", regs: prods.SLG_HD, url: "/abm-links/p", mostrarOrigen: true, campo: "HD_Gratis"}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Sin Links HD en Castellano", regs: prods.SLC_HD, url: "/abm-links/p", mostrarOrigen: true, campo: "HD_Cast"}) %>
			</div>
		</div>
	</div>
</section>
