<div id="tituloPrincipal" class="<%= tema %>">
	<h1 id="titulo"><%= titulo %></h1>
	<%- include("MN-Ayuda", {mensajes: ["Estos registros están pendientes de revisar. Se necesita revisarlos a todos.", "En todos los casos, la novedad fue propuesta por otro usuario.", "Las <em>ediciones</em> a revisar son de registros aprobados."]}) %>
</div>
<!-- Datos -->
<% const rv = "revision/" %>
<% let familias, mostrar %>
<section id="familias">
	<div id="primeraColumna" class="columna">
		<% const revisorPERL = usuario.rol.revisorPERL %>
		<% if (revisorPERL && (prodsRclvs.ST.length + prodsRclvs.SH.length)) { %>
			<% familias = "prodsRclvs" %>
			<!-- PRODUCTOS Y RCLVS -->
			<div id="<%= familias %>" class="bloques">
				<!-- Título y ayuda -->
				<div class="tituloSecundario">
					<!-- Título -->
					<h2>PRODUCTOS Y RCLVS</h2>
					<%- include("MN-Ayuda", {mensajes: ["Para unificar el status"]}) %>
				</div>
				<!-- Registros -->
				<div class="temas">
					<% mostrar = dataEntry[familias] %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Status c/diferencias", regs: prodsRclvs.ST, url: rv + "unificar-status"}) %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Registros s/historial", regs: prodsRclvs.SH, url: rv + "registros-sin-historial"}) %>
				</div>
			</div>
		<% } %>
		<!-- PRODUCTOS -->
		<div class="bloques">
			<!-- Título y ayuda -->
			<% familias = "productos" %>
			<div class="tituloSecundario">
				<!-- Título -->
				<h2><%= familias.toUpperCase() %></h2>
				<%- include("MN-Ayuda", {mensajes: ["Fecha de la novedad", "Tipo de producto", "Nombre del producto", "Año de lanzamiento"]}) %>
			</div>
			<!-- Registros -->
			<div class="temas">
				<% const dt = "/detalle/p" %>
				<% const ed = "/edicion/p" %>
				<% mostrar = dataEntry[familias] %>
				<% if (revisorPERL) { %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Inactivar", regs: prodsRclvs.IN, url: rv + "inactivar"}) %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Recuperar", regs: prodsRclvs.RC, url: rv + "recuperar"}) %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Ediciones", regs: prods.ED, url: rv + "edicion"}) %>
					<%- include("RE-Registros", {familias, mostrar, titulo: "Productos repetidos", regs: prods.RP, url: dt, origen: "TE"}) %>
				<% } %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "A completar - con Links", regs: prods.SE.filter(n => n.links), url: !revisorPERL ? dt : ed, origen: "TE"}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "A completar - sin Links", regs: prods.SE.filter(n => !n.links), url: !revisorPERL ? dt : ed, origen: "TE"}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Altas - con Links", regs: prods.AL.filter(n => n.links), url: !revisorPERL ? dt : (rv + "alta/p"), origen: !revisorPERL ? "TE" : ""}) %>
				<%- include("RE-Registros", {familias, mostrar, titulo: "Altas - sin Links", regs: prods.AL.filter(n => !n.links), url: !revisorPERL ? dt : (rv + "alta/p"), origen: !revisorPERL ? "TE" : ""}) %>
				<% if (revisorPERL) { %>
				<% } %>
			</div>
		</div>
	</div>
	<% if (usuario.rol.revisorEnts) { %>
		<div id="segundaColumna" class="columna">
			<% if (revisorPERL && mostrarRclvs) { %>
				<!-- Rclvs -->
				<div class="bloques" id="rclv">
					<!-- Título y ayuda -->
					<div class="tituloSecundario">
						<!-- Título -->
						<% familias = "rclvs" %>
						<h2><%= familias.toUpperCase() %></h2>
						<%- include("MN-Ayuda", {mensajes: ["Si en las altas se le cambia el nombre a algún registro, debe seguir refiriéndose a la misma entidad."]}) %>
					</div>
					<!-- Registros -->
					<div class="temas">
						<% mostrar = dataEntry[familias] %>
						<!-- Entorno de Revisión -->
						<%- include("RE-Registros", {familias, mostrar, titulo: "Inactivar", regs: rclvs.IN, url: rv + "inactivar"}) %>
						<%- include("RE-Registros", {familias, mostrar, titulo: "Recuperar", regs: rclvs.RC, url: rv + "recuperar"}) %>
						<%- include("RE-Registros", {familias, mostrar, titulo: "Ediciones", regs: rclvs.ED, url: rv + "edicion"}) %>
						<!-- Fuera del entorno de Revisión -->
						<%- include("RE-Registros", {familias, mostrar, titulo: "Altas", regs: rclvs.AL, url: rv + "alta/r", origen: "TE"}) %>
						<%- include("RE-Registros", {familias, mostrar, titulo: "Solapamiento de Fechas", regs: rclvs.SL, url: rv + "solapamiento/r", origen: "TE"}) %>
						<%- include("RE-Registros", {familias, mostrar, titulo: "Fecha Móvil", regs: rclvs.FM, url: "/edicion/r", origen: "TE"}) %>
					</div>
				</div>
			<% } %>
			<% if (usuario.rol.revisorLinks) { %>
				<!-- Links -->
				<div class="bloques" id="links">
					<% const {prods} = cantLinksVencPorSem['0']; %>
					<!-- Título y ayuda -->
					<div class="tituloSecundario">
						<!-- Título -->
						<% familias = "links" %>
						<h2><%= familias.toUpperCase() %></h2>
						<div id="linksPends">Pends: <%= prods %></div>
						<%- include("MN-Ayuda", {mensaje: "Son productos aprobados"}) %>
					</div>
					<!-- Gráfico -->
					<div class="temas">
						<% mostrar = dataEntry[familias] %>
						<div id="cuadro" class="">
							<% if (sigProd) { %><a href="/revision/abm-links/p/<%= sigProd.entidad %>/?id=<%= sigProd.id %>"><% } %>
								<div id="grafico"></div>
							<% if (sigProd) { %></a><% } %>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	<% } %>
</section>
