<% if (locals.cartelGenerico || locals.cartelRechazo) { %>
	<!-- Timer contador -->
	<%- include('MN-Timer') %>
<% } %>

<!-- Título principal -->
<div id="tituloPrincipal" class="flexCol">
	<h1 id="titulo"><%= locals.tituloVista || titulo %></h1>
	<% if (codigo == "mirarLink") { %>
		<h2 id="secundario">
			Gentileza de
			<img src="/imgsPropio/3-LogosLinks/<%= link.prov.avatar %>" alt="<%= link.prov.nombre %>" title="<%= link.prov.nombre %>">
		</h2>
	<% } %>
	<% if (codigo == "detalle") { %>
		<div id="iconosDelTitulo" class="flexRowAlign">
			<% const clase = "compFm" %>
			<% if (locals.ayudasTitulo) { %>
				<%- include("MN-Ayuda", {ayudaClass: clase, [typeof ayudasTitulo == "string" ? "mensaje" : "mensajes"]: ayudasTitulo}) %>
			<% } %>

			<!-- Compartir la vista -->
			<%- include("FM-Compartir", {mostrarLeyenda: "Enlace copiado", clase}) %>

			<% if (tema == "rclvCrud" && prodsCons) { %>
				<!-- Ocultar / Mostrar resultados -->
				<div id="consultas" class="relative <%= clase %>">
					<div id="iconoOcultarMostrar" class="iconosAzules scale pointer">
						<i class="<%= iconos.faSolid %> <%= iconos.xMark %>" title="Quita los filtros"></i>
						<i class="<%= iconos.faSolid %> fa-rotate-right ocultar" title="Aplica los filtros"></i>
					</div>
					<p class="mostrarLeyenda ocultar">Quita los filtros</p>
				</div>
			<% } %>
		</div>
	<% } %>
</div>
