<!-- Muestra la Imagen -->
<% let ruta, titulo, destino, hoyLocal, rclvEnt %>
<div id="imgDerecha">
	<% if (locals.tema == "institucional") { %>
		<!-- Imagen Institucional -->
		<% ruta = imgInstitucional %>
		<% titulo = "ELC-Películas" %>
	<% } %>
	<% if (!ruta && locals.imgDerPers) { %>
		<!-- Imagen personalizada -->
		<% ruta = imgDerPers %>
	<% } %>
	<% if (!ruta) { %>
		<!-- Imagen Diaria -->
		<% const ahora = new Date() %>
		<% const diaLocal = ("0" + ahora.getDate()).slice(-2) %>
		<% const mesLocal = mesesAbrev[ahora.getMonth()] %>
		<% const anoLocal = ahora.getFullYear().toString().slice(-2) %>
		<% hoyLocal = diaLocal + "-" + mesLocal + "-" + anoLocal %>
		<% const rclv_id = ImagenesDerecha[hoyLocal] && ImagenesDerecha[hoyLocal].id %>
		<% rclvEnt = ImagenesDerecha[hoyLocal] && ImagenesDerecha[hoyLocal].entidad %>
		<% destino = rclvEnt && rclv_id ? ("/"+ rclvEnt + "/detalle/r/?id=" + rclv_id) : null %>
		<% ruta = "/imgsPropio/ImagenDerecha/" + hoyLocal + ".jpg" %>
		<% titulo = ImagenesDerecha[hoyLocal] && ImagenesDerecha[hoyLocal].leyenda %>
	<% } %>

	<!-- Publica la imagen -->
	<img
		src="<%= ruta %>"
		title="<%= titulo %>"
		<% if (locals.entidad && locals.id) { %>style="view-transition-name: <%= entidad + id %>"
		<% } else if (locals.dataEntry) { %>
			<% if (dataEntry.TMDB_entidad && dataEntry.TMDB_id) { %>style="view-transition-name: <%= dataEntry.TMDB_entidad + dataEntry.TMDB_id %>"<% } %>
		<% } %>
	>

	<!-- Accesorios -->
	<% if (locals.tema == "prodRud" && codigo == "detalle" && registro.statusRegistro_id != inactivo_id) { %>
		<%- include('PR1-Detalle-1Links') %>
	<% } %>
	<% if (locals.tema == "consultas" && rclvEnt) { %>
		<%- include("CN-CartelRclv", {hoyLocal, destino, rclvEnt}) %>
	<% } %>
	<% if (locals.iconosMobile) { %>
		<div id="sectorIconos">
			<%- include("Iconos-5Mobile") %>
		</div>
	<% } %>
</div>
