<%- include("FM-0TituloPrincipal") %>
<section id="tabla">
	<!-- Fechas -->
	<% if (fechaMostrar) { %>
		<div id="titulos" class="flexRowAlign">
			<select onchange="location = this.value">
				<% for (let fecha of fechas) { %>
					<option value="/movimientos-del-dia/?fecha=<%= fecha %>" <% if (fecha==fechaMostrar) { %>selected<% } %>>
						<%= fecha %>
					</option>
				<% } %>
			</select>
			<div id="cantClientes"><b>Cant. clientes:</b> <%= cantClientes %></div>
		</div>
	<% } %>
	<!-- Tabla -->
	<table>
		<thead>
			<tr>
				<th class="cliente">Visitas</th>
				<th class="fecha">Hora</th>
				<th class="ruta">Ruta</th>
			</tr>
		</thead>
		<tbody>
			<% for (let navegDia of navegsDia) { %>
				<tr id="<%= navegDia.cliente_id %>" class="<%- navegDia.cantMovs ? 'resumen' : 'ocultar' %>">
					<!-- Persona -->
					<td class="cliente">
						<% if (navegDia.cantMovs) { %>
							<!-- Ícono mostrar / ocultar -->
							<span class="mostrar "><i class="fa-solid fa-circle-plus"></i></span>

							<!-- Cantidad de navegaciones -->
							<span class="cantNavegs"><%= navegDia.cantMovs %><% if (navegDia.esUser) { %>*<% } %></span>
						<% } else { %>
							<!-- Código de cliente -->
							<span class="codigo"><%= navegDia.persona %></span>
						<% } %>
					</td>

					<!-- Fecha -->
					<td class="fecha"><%= navegDia.hora %></td>

					<!-- Íconos de la ruta -->
					<td class="ruta">
						<% if (navegDia.ruta) { %><a href="<%= navegDia.ruta %>"><% } %>
							<%- navegDia.iconosHTML || navegsDia.distintivo %>
							<span><%= navegDia.comentario %></span>
						<% if (navegDia.ruta) { %></a><% } %>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</section>
