<% const campo = camposDA.find(n => n.nombre == nombre) %>
<% const {titulo, valores} = campo %>
<section class="labelSelect altoFila">
	<div><b><%= titulo %></b></div>
	<div class="inputError">
		<!-- Input -->
		<select name="<%= nombre %>" class="input" tabindex="1">
			<% for (let valor of valores) { %>
				<option value="<%= valor.id %>" class="rclv" <% if (dataEntry[nombre] == valor.id) { %>selected<% } %>><%= valor.breve || valor.nombre %></option>
			<% } %>
		</select>
		<%- include("MN-Errores", {nombre, ocultarOK: true}) %>
	</div>
</section>
