<% if (locals.iconoDL && locals.iconoDB) { %>
	<div id="mobile" class="iconos invisible">
		<% if (tema == "prodRud" && codigo == "detalle" && registro.statusRegistro_id != inactivo_id) { %>
			<i id="iconoVer" class="<%= iconos.faSolid %> fa-couch toggle"></i>
		<% } %>
		<i id="iconoDL" class="<%= iconos.faSolid %> <%= iconoDL %> toggle"></i>
		<i id="iconoDB" class="<%= iconos.faSolid %> <%= iconoDB %> toggle"></i>
	</div>
<% } %>

<div id="href" class="iconos">
	<%- include("Iconos-5MobileHref") %>
	<% if (locals.interesDelUsuario) { %>
		<i id="ppp" class="<%= interesDelUsuario.icono %>" title="<%= interesDelUsuario.nombre %>"></i>
	<% } %>
</div>
