<% if (tema == "prodRud" && codigo == "detalle") { %>
	<a href="<%= '/' + entidad + '/califica/p/?id=' + id %>" tabindex="-1">
		<i class="<%= iconos.faSolid %> <%= iconos.califica %> <%= locals.yaCalificada %>" tabindex="-1"></i>
	</a>
<% } %>
<% if (["califica", "mirarLink"].includes(codigo)) { %>
	<a href="<%= '/' + entidad + '/detalle/p/?id=' + id %>" tabindex="-1">
		<i class="<%= iconos.faSolid %> <%= iconos.detalle %>" tabindex="-1"></i>
	</a>
<% } %>
